* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CBD0CC;
    border-bottom: 2px solid gray;
    height: 50px;
    padding: 0 30px 0;
}

h1 {
    font-size: 24px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

li {
    list-style-type: none;
}

.burger {
    display: none;
}

main {
    width: 90%;
    margin: 0 auto;
    min-height: calc(100vh - 150px);
}

.current_exhibition {
    padding-top: 50px;
}

.current_exhibition h2,
.current_exhibition p,
.current_exhibition a {
    margin-bottom: 50px;
}

.flexbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.info {
    width: 300px;
}

.container {
    width: 300px;
}

img {
    display: block;
    width: 100%;
}

.btn {
    display: block;
    width: 150px;
    height: 40px;
    border: 2px solid black;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
}

.btn:link {
    color: black;
    text-decoration: none;
}

.btn:hover {
    transition: all .5s ease;
    background-color: gray;
}

.btn:visited {
    color: black;
    text-decoration: none;
}

.review .flexbox {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    margin: 20px 0;
}

.review img {
    display: block;
    width: 200px;
}

footer {
    background-color: rgb(80, 79, 81);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 100px;
    padding: 0 30px 0;
}

footer a:link {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 1005px) {
    .review .flexbox {
        justify-content: center;
    }

    .review img {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
        nav ul li {
        display: none;
    }

    .burger {
        display: block;
    }

    .flexbox {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .container, .info {
        width: 90%;
    }

    header {
        align-items: flex-start;
        height: auto;
        padding: 10px 20px;
    }

    footer {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 10px;
        text-align: center;
    }

    .btn {
        width: 100%;
        max-width: 250px;
    }
}