* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

table {
    border-spacing: 10px;
}

p {
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 0;
}

input {
    padding: 2px 5px;
}

output {
    display: block;
    height: 18px;
}

.request {
    font-size: 22px;
    font-family: sans-serif;
}

.container {
    width: 194px;
    & > output {
        display: block;
        height: 22px;
        font-size: 22px;
        font-family: sans-serif;
        width: 100%;
    }
}

.captcha {
    width: 100%;
    position: relative;
    height: 56px;
    border: 3px solid silver;
    margin-top: 20px;
}

.code-input {
    width: 100%;
    font-size: 18px;
    border: 3px solid silver;
    border-top: 0;
    padding: 7px 0;
}