@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kapakana:wght@300..400&family=Manrope:wght@200..800&family=Sirivennela&family=Tangerine:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: linear-gradient(45deg, rgb(50, 50, 255), rgb(50, 128, 50));
}

.container {
    position: relative;
    height: 600px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 20px;
}

h1 {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 62px;
    font-family: Tangerine, sans-serif;
    font-size: 60px;
    line-height: 62px;
    background: linear-gradient(45deg, rgb(0, 0, 255), rgb(0, 128, 0));
    background-clip: text;
    color: transparent;
}

input[type="text"],
.task {
    width: 100%;
    min-height: 40px;
    font-family: sans-serif;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: none;
    padding: 0 40px;
    margin-bottom: 10px;
}

.filter-button {
    position: absolute;
    right: calc(50% - 230px);
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    text-align: left;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: all .5s ease-in;
    overflow: hidden;
    & > .filter-condition {
        display: none;
    }
}

.filter-button .fa-filter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.filter-button:hover {
    width: 250px;
    background-color: rgba(0, 0, 255);
    transition: all .5s ease-out;
    & > .filter-condition {
        display: inline;
    }
}

.task {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 110px 0 40px;
}

.checkbox {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.task-name {
    word-wrap: break-word;
    text-overflow: clip;
    overflow: hidden;
}

.date-time {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 10px;
    color: rgb(50, 128, 50);
}

output {
    display: block;
    max-height: calc(100% - 62px - 40px - 10px);
    overflow: auto;
}

.input-task {
    position: absolute;
    top: 0;
    left: 0;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s ease-in;
}

.delete-button:hover {
    background-color: rgb(200, 0, 0);
    transition: all .5s ease-out;
}

.container .link {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-family: Sirivennela, sans-serif;
    font-size: 20px;
    color: white;
    & > a {
        color: white;
        text-decoration: none;
    }
}