@import url('https://fonts.googleapis.com/css2?family=Monoton&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    aspect-ratio: 1 / 1;
    background: radial-gradient(black 60%, white 80%);
    border-radius: 50%;
    z-index: 1;
}

.clockface {
    position: relative;
    container-type: inline-size;
    width: calc(400 / 420 * 100%);
    aspect-ratio: 1 / 1;
    font-family: Monoton, sans-serif;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.clockface:after {
    display: block;
    position: absolute;
    content: "";
    inset: 0;
    background-image: radial-gradient(rgba(88, 100, 100, 0.5) 50%, rgba(228, 255, 254, 0.5) 200%);
    border-radius: 50%;
    backdrop-filter: blur(0.5px);
    z-index: 4;
}

.clock .clockface > .number {
    position: absolute;
    inset: 7.5cqw;
    font-size: 8cqw;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    user-select: none;
}

.clock .clockface > .number span {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.clock > .clockface > .second-arrow,
.clock > .clockface > .minute-arrow,
.clock > .clockface > .hour-arrow {
    position: absolute;
    inset: 0;
    filter: drop-shadow(0px 0px 2.5px black);
}

.clock > .clockface > .second-arrow {
    z-index: 3;
}

.clock > .clockface > .minute-arrow {
    z-index: 2;
}
.clock > .clockface > .hour-arrow {
    z-index: 1;
}

.clock > .clockface > .second-arrow:before {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 37.5cqw);
    left: calc(50% - 0.625cqw);
    width: 1.25cqw;
    border-left: 0.5cqw solid transparent;
    border-right: 0.5cqw solid transparent;
    border-bottom: 43.125cqw solid red;
}

.clock > .clockface > .second-arrow:after {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% + 5cqw);
    left: calc(50% - 1.25cqw);
    height: 10cqw;
    width: 2.5cqw;
    border-radius: 1.25cqw;
    background-color: transparent;
    border: 1cqw solid red;
}

.clock > .clockface > .minute-arrow:before {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 37.5cqw);
    left: calc(50% - 1.875cqw);
    width: 3.75cqw;
    border-left: 1.75cqw solid transparent;
    border-right: 1.75cqw solid transparent;
    border-bottom: 37.5cqw solid rgb(40, 40, 40);
}

.clock > .clockface > .minute-arrow:after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: calc(50% - 1.875cqw);
    width: 3.75cqw;
    border-left: 1.75cqw solid transparent;
    border-right: 1.75cqw solid transparent;
    border-top: 12.5cqw solid rgb(40, 40, 40);
}

.clock > .clockface > .hour-arrow:before {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 30cqw);
    left: calc(50% - 3.125cqw);
    width: 6.25cqw;
    border-left: 3cqw solid transparent;
    border-right: 3cqw solid transparent;
    border-bottom: 30cqw solid rgb(40, 40, 40);
}

.clock > .clockface > .hour-arrow:after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: calc(50% - 3.125cqw);
    width: 6.25cqw;
    border-left: 3cqw solid transparent;
    border-right: 3cqw solid transparent;
    border-top: 10cqw solid rgb(40, 40, 40);
}

.clock > .clockface:before {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 2.5cqw;
    width: 2.5cqw;
    background: radial-gradient(white, gray);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 4;
}

.strip-container {
    display: flex;
    justify-content: center;
    position: absolute;
    inset: 5px;
    transform: rotate(calc(6deg * var(--j)));
}

.clockface [class $= "strip"] {
    background-color: black;
}
.clockface .multiple-strip {
    height: 3.75%;
    width: 1.25%;
}

.clockface .strip {
    height: 2.5%;
    width: .5%;
}

.light {
    position: absolute;
    top: 25px;
    left: 25px;
    height: 50px;
    width: 50px;
    background-image: radial-gradient(orange 5%, transparent 70%);
    border-radius: 50%;
    z-index: 10;
}

.light .circle {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 10px;
    width: 10px;
    border: 2.5px solid white;
    border-radius: 50%;
}

.light .ray {
    position: absolute;
    inset: 10px;
    transform: rotate(calc(45deg * var(--i)));
}

.light .ray:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: calc(50% - 1px);
    height: 5px;
    width: 2px;
    background-color: white;
    border-radius: 1px;
}