@import url('https://fonts.googleapis.com/css2?family=Monoton&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.clock {
    position: relative;
    width: 400px;
    aspect-ratio: 1 / 1;
    border: 5px solid black;
    font-family: Monoton;
    border-radius: 50%;
}

.clock > .number {
    display: inline;
    position: absolute;
    inset: 30px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.clock > .number span {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.clock > .second-arrow,
.clock > .minute-arrow,
.clock > .hour-arrow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.clock > .second-arrow {
    z-index: 3;
}

.clock > .minute-arrow {
    z-index: 2;
}
.clock > .hour-arrow {
    z-index: 1;
}

.clock > .second-arrow:before {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 100px);
    left: calc(50% - 2.5px);
    width: 1px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 100px solid red;
    border-radius: 2px;
}

.clock > .minute-arrow:before {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 100px);
    left: calc(50% - 7.5px);
    width: 1px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 100px solid black;
}

.clock > .minute-arrow:after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: calc(50% - 7.5px);
    width: 1px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 25px solid black;
}

.clock > .hour-arrow:before {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 80px);
    left: calc(50% - 10.5px);
    width: 1px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 80px solid black;
}

.clock > .hour-arrow:after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: calc(50% - 10.5px);
    width: 1px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid black;
}

.clock:before {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 10px;
    width: 10px;
    background: radial-gradient(white, black);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 4;
}

.strip-container {
    display: flex;
    justify-content: center;
    position: absolute;
    inset: 5px;
    transform: rotate(calc(6deg * var(--j)));
}

.clock [class $= "strip"] {
    background-color: black;
}
.clock .multiple-strip {
    height: 15px;
    width: 5px;
}

.clock .strip {
    height: 10px;
    width: 2px;
}