@import url('https://fonts.googleapis.com/css2?family=Monoton&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.clock {
    position: relative;
    width: 400px;
    aspect-ratio: 1 / 1;
    background-color: white;
    font-family: Monoton, sans-serif;
    border-radius: 50%;
}

.clock:after {
    display: block;
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    width: 420px;
    aspect-ratio: 1 / 1;
    background: radial-gradient(black 60%, white 80%);
    border-radius: 50%;
    z-index: -1;
}

.clock > .number {
    display: inline;
    position: absolute;
    inset: 30px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.clock > .number span {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

.clock > .second-arrow,
.clock > .minute-arrow,
.clock > .hour-arrow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    filter: drop-shadow(0px 0px 2.5px black);
}

.clock > .second-arrow {
    z-index: 3;
}

.clock > .minute-arrow {
    z-index: 2;
}
.clock > .hour-arrow {
    z-index: 1;
}

.clock > .second-arrow:before {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 150px);
    left: calc(50% - 2.5px);
    width: 5px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 172.5px solid red;
}

.clock > .second-arrow:after {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% + 20px);
    left: calc(50% - 5px);
    height: 40px;
    width: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 4px solid red;
}

.clock > .minute-arrow:before {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 150px);
    left: calc(50% - 7.5px);
    width: 15px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 150px solid rgb(40, 40, 40);
}

.clock > .minute-arrow:after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: calc(50% - 7.5px);
    width: 15px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 50px solid rgb(40, 40, 40);
}

.clock > .hour-arrow:before {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 120px);
    left: calc(50% - 12.5px);
    width: 25px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 120px solid rgb(40, 40, 40);
}

.clock > .hour-arrow:after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: calc(50% - 12.5px);
    width: 25px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 40px solid rgb(40, 40, 40);
}

.clock:before {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 10px;
    width: 10px;
    background: radial-gradient(white, gray);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 4;
}

.strip-container {
    display: flex;
    justify-content: center;
    position: absolute;
    inset: 5px;
    transform: rotate(calc(6deg * var(--j)));
}

.clock [class $= "strip"] {
    background-color: black;
}
.clock .multiple-strip {
    height: 15px;
    width: 5px;
}

.clock .strip {
    height: 10px;
    width: 2px;
}