@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Great+Vibes&family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    column-gap: 20px;
    background-color: black;
}

button {
    height: 60px;
    width: 260px;
    font-family: "Great Vibes";
    font-size: 30px;
    color: rgb(35, 125, 19);
    background: linear-gradient(to bottom right, rgb(3, 60, 3), rgb(82, 5, 5));
    border-radius: 30px;
    border: none;
    box-shadow: none;
    transition: box-shadow .5s ease;
}

button:hover {
    box-shadow: 2px 2px 10px 2px rgb(35, 125, 19),
                -2px -2px 10px 2px rgb(171, 20, 20);
    transition: box-shadow .5s ease;
    cursor: pointer;
}