* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: #c57a19;
}

form {
    height: 50%;
    width: 650px;
    background-color: rgb(128, 78, 12);
    border-radius: 20px;
    padding: 20px;
}

label {
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border: none;
    margin-bottom: 20px;
}

input[type="button"] {
    height: 40px;
    width: calc(100% / 3 - 20px / 3);
    background-color: rgb(128, 78, 12);
    border: 1px solid rgb(197, 122, 25);
    border-radius: 20px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    transition: all .5s ease;

    &:hover {
        background-color: rgb(70, 43, 6);
        transition: all .5s ease;
    }
}

output {
    display: block;
    width: 100%;
    height: 150px;
    border: 1px solid rgb(197, 122, 25);
    border-radius: 20px;
    clear: left;
    overflow: auto;
    & > div {
        padding: 10px;
    }

    & > div:nth-child(even) {
        background-color: rgb(70, 43, 6);
        color: white;
    }
}