* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2 {
    width: max-content;
    margin: 20px auto 50px;
    text-transform: uppercase;
}

.cart-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    border: 1px solid gray;
    cursor: pointer;
    transition: all .5s ease;
}

.cart-button:hover {
    background-color: lightgray;
    transition: all .5s ease;
}

.cart-button:active {
    background-color: darkgray;
    color: white;
    transition: all 0s ease;
}

.quantity-of-goods {
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    height: 30px;
    width: 30px;
    color: white;
    background-color: green;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    border-radius: 50%;
}

.module-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 500px;
    background-color: white;
    border: 2px solid green;
    border-radius: 10px;
    padding: 20px;
    z-index: 11;
}

.module-window input[type=number] {
    width: 100%;
    height: 40px;
    border: 2px solid green;
    border-radius: 10px;
}

.btns {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

:not(.module-window) > .btns {
    margin-top: 40px;
}

.btns .btn {
    width: calc(50% - 20px);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10;
}

.wrap {
    position: relative;
    width: 80%;
    min-width: 1000px;
    height: 600px;
    border: 2px solid rgb(37, 238, 34);
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 16px;
}

.swipe {
    display: block;
    background: white;
    color: rgb(37, 238, 34);
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(37, 238, 34);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.swipe:hover {
    background-color: rgb(155, 241, 153);
    color: white;
    transition: all .5s ease;
}

.swipe:active {
    background-color: rgb(55, 250, 51);
    transition: all 0s ease;
}

.swipe_left {
    left: -19px;
    top: 99px;
}

.swipe_right {
    right: -19px;
    top: 99px;
}

.product_card {
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
    border-right: 2px solid rgb(37, 238, 34);
}

.sticker {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    color: white;
    top: -50px;
    left: calc(100% - 120px);
    border-width: 3px;
    border-color: white;
    border-style: dotted;
}

.sticker_novetly {
    line-height: 100px;
    background-color: blueviolet;
}

.sticker_top {
    background-color: orange;
    padding-top: 30px;
}

.product_card:last-child {
    border-right: none;
}

.category {
    height: 20%;
    width: 80%;
    text-align: center;
    line-height: 120px;
    border-bottom: 2px solid rgb(37, 238, 34);
    margin: 0 auto;
}

.image {
    height: 40%;
    width: 80%;
    margin: 30px auto 10px;
    transform: scale(1);
    transition: all .5s ease;
    user-select: none;
}

.image:hover {
    transform: scale(1.2);
    transition: all .5s ease;
}

img {
    display: block;
    height: 90%;
    width: 90%;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
}

.name_product {
    height: 10%;
    width: 80%;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    margin: 10px auto;
}

.price {
    height: 10%;
    width: 80%;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    margin: 10px auto;
}

.stub,
.btn {
    display: block;
    height: 40px;
    width:  150px;
    color: white;
    text-align: center;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.stub {
    background-color: red;
    padding-top: 2px;
    cursor: not-allowed;
    user-select: none;
}

.btn {
    background-color: rgb(37, 238, 34);
    line-height: 40px;
}

.btn:link {
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(155, 241, 153);
    transition: all .5s ease;
}

.btn:active {
    color: rgb(37, 238, 34);
    background-color: white;
    border: 2px solid rgb(37, 238, 34);
    line-height: 36px;
    transition: all 0s ease;
}

.link {
    color: black;
    text-decoration: none;
    transition: all .5s ease;
}

.link:hover {
    color: rgb(37, 238, 34);
    transition: all .5s ease;
}

.link:active {
    color: rgb(155, 241, 153);
}

.old_price {
    color: gray;
    font-size: 16px;
    text-decoration: 2px line-through;
}

.new_price {
    color: red;
}

.cart {
    width: 80%;
    min-width: 1000px;
    text-align: left;
    border-spacing: 0;
    border: 3px solid green;
    margin: 0 auto;
}

.cart thead tr th {
    border-bottom: 2px solid green;
}

.cart tbody td {
    background-color: rgb(195, 239, 195);
    border: 1px solid rgb(11, 172, 11);
    width: calc(100% / 6);
}

.cart .remove {
    user-select: none;
    cursor: pointer;
}